# Vim swap files
src/*.swp

# Object files
src/*.o

# Gzipped man pages
man/*.gz

# Executables
icmptunnel

cmake-build-debug
cmake-build-release-archlinux
cmake-build-debug-archlinux
.idea
cmake-build*